In [5]:
## Arithmatic Operation

a=10

b=30

add_result=a+b ## addition operation

sub_result=a-b ## subtraction operation

mul_result=a*b ## multiplication operation

div_result=a/b ## division operation

floor_div_result=a//b ## floor operation

modulus_result = a%b ## modulus operation

exponential_result=a**b ## Exponential operation


print(add_result)

print(sub_result)

print(mul_result)

print(div_result)

print(floor_div_result)

print(modulus_result)

print(exponential_result)

40
-20
300
0.3333333333333333
0
10
1000000000000000000000000000000

In [7]:
## Comparison operators

## ==

a=10

b=10

result=(a==b)

print(result)

True

In [9]:
str1="Vinoad"

str2="Mehraa"

str1==str2

False

In [10]:
str1!=str2

True

In [11]:
str3='Vinoad'

str1==str3

True

In [16]:
## greater than operation

var1=10
var2=20

print(var1>=var2)
print(var2>=var1)

False
True

## Logical Operators

In [19]:
# OR, AND, NOT

x=True
y=False

result1 = (x or y)

result2 = (x and y)

result3 = (x or not y)

print(result1)

print(result2)

print(result3)

True
False
True