In [3]:
# Tuple are similar to list but tuple are immutable.

## Creating a tuple
empty_tuple=()

print(empty_tuple)

print(type(empty_tuple))

()
<class 'tuple'>

In [7]:
## a list can be create by two way

list1 = []
list2 = list()

print(type(list1))
print(type(list2))

## a tuple can only be created by one way

list3 = tuple()
print(type(list3))

<class 'list'>
<class 'list'>
<class 'tuple'>

In [9]:
## tuple can be converested into list and list can be converted into tuple.

## a list of [1,2,3,4,5] is changed to tuple.

check1 = tuple([1,2,3,4,5])
print(check1, type(check1))

(1, 2, 3, 4, 5) <class 'tuple'>

In [10]:
## a tuple(1,2,3,4,5) is changed to list.
check2 = list((1,2,3,4,5))
print(check2,type(check2))

[1, 2, 3, 4, 5] <class 'list'>

In [11]:
## Tuple can also have same mixed values as list

tuple1=(1,"Vinoad",True)

print(tuple1)

(1, 'Vinoad', True)

In [15]:
## accessing tuple

print(tuple1[1])

Vinoad

In [16]:
## tuple operation
tuple1=(1,2,3,4,5)
tuple2=("This","Is","My","Name")

tuple3 = tuple1+ tuple2

print(tuple3, type(tuple3))

(1, 2, 3, 4, 5, 'This', 'Is', 'My', 'Name') <class 'tuple'>

In [23]:
tuple4=tuple2*3
print(tuple4, type(tuple4))

('This', 'Is', 'My', 'Name', 'This', 'Is', 'My', 'Name', 'This', 'Is', 'My', 'Name') <class 'tuple'>

In [26]:
## Immutable nature of tuple. (Once assgined, value can not be changed.)

my_list=[1,"Vinoad",9,1985,'True','Sonipat']
print(my_list)

[1, 'Vinoad', 9, 1985, 'True', 'Sonipat']

In [27]:
my_list[1]="Mehraa"

print(my_list)

[1, 'Mehraa', 9, 1985, 'True', 'Sonipat']

In [36]:
my_tuple=(1,2,"Vinoad")

print(my_tuple)

(1, 2, 'Vinoad')

In [29]:
my_tuple[1]="Mehraa"

TypeError: 'tuple' object does not support item assignment

In [30]:
## Tuple methods

print(my_tuple)

(1, 2, 'Vinoad')

In [37]:
my_tuple = my_tuple*3

print(my_tuple)

(1, 2, 'Vinoad', 1, 2, 'Vinoad', 1, 2, 'Vinoad')

In [40]:
print(my_tuple.count("Vinoad"))
print(my_tuple.index('Vinoad'))

3
2

In [41]:
## Packing a tuple
tuple_pack=1,'Hello',True,-5.7

print(tuple_pack)

(1, 'Hello', True, -5.7)

In [44]:
##unpacking a tuple
a,b,c,d=tuple_pack

print(c)

print(d)

True
-5.7

In [46]:
## Unpacking with *

tuple5=(1,2,3,4,5,"Vinoad")
a,*middle,b=tuple5

print(a, type(a))

print(middle, type(middle))

print(b,type(b))

1 <class 'int'>
[2, 3, 4, 5] <class 'list'>
Vinoad <class 'str'>

In [49]:
## Nested tuples

nested_list1=[[1,2,3],["Vinoad","Mehraa"],[True,False]]

print(nested_list1, type(nested_list1))

print(nested_list1[0])

[[1, 2, 3], ['Vinoad', 'Mehraa'], [True, False]] <class 'list'>
[1, 2, 3]

In [50]:
print(nested_list1[0][2])

3

In [52]:
nested_tuple1=((1,2,3),("Vinoad","Mehraa"),(True,False))

print(nested_tuple1, type(nested_tuple1))

((1, 2, 3), ('Vinoad', 'Mehraa'), (True, False)) <class 'tuple'>

In [53]:
nested_tuple1[2][1]

False

In [56]:
## iteration in tuple

for sub_tuple in nested_tuple1:
    for i in sub_tuple:
        print(i,end=" ")
    print()

1 2 3
Vinoad Mehraa
True False

In [58]:
[print(i, end="\n") for sub_tuple in nested_tuple1 for i in sub_tuple]

1
2
3
Vinoad
Mehraa
True
False

[None, None, None, None, None, None, None]