In [1]:
## creating a set

my_set1={1,2,3,4,5}

print(my_set1, type(my_set1))

{1, 2, 3, 4, 5} <class 'set'>

In [3]:
my_empty_set=set()

print(my_empty_set, type(my_empty_set))

set() <class 'set'>

In [6]:
## set don;t allow duplicate values.

my_set2=set([1,2,3,4,4,4,5,5])

print(my_set2, type(my_set2))

{1, 2, 3, 4, 5} <class 'set'>

In [8]:
## Basic set operation

## additing and removing elements.

my_set2.add("Vinoad")

print(my_set2, type(my_set2))

{1, 2, 3, 4, 5, 'Vinoad'} <class 'set'>

In [15]:
## Removing the element from the set.
my_set2.remove(3)
print(my_set2)

{1, 2, 4, 5, 'Vinoad'}

In [16]:
my_set2.add(True)
my_set2.add("Mehraa")

In [17]:
print(my_set2)

{1, 2, 4, 5, 'Vinoad', 'Mehraa'}

In [19]:
## pop method
removed_element=my_set2.pop()

print(removed_element)

2

In [21]:
print(my_set2)

{4, 5, 'Vinoad', 'Mehraa'}

In [22]:
my_set2.clear()

print(my_set2)

set()

In [25]:
## Set membership test

my_set2={1,2,3,4,5,6,7,8,8,9}
print(my_set2)

print(3 in my_set2)

print(10 in my_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
True
False

In [27]:
## Mathematical operation
print(my_set1)

print(my_set2)

my_set3=my_set1.union(my_set2)
print(my_set3)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
## Intersection

my_set4= my_set1.intersection(my_set2)

print(my_set4)

{1, 2, 3, 4, 5}

In [30]:
## Set Methods

set1={1,2,3}
set2={3,4,5}

print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [31]:
my_list1=[1,2,2,3,4,5,6,7,8,9,10,10]

my_new_set=set(my_list1)

print(my_new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [34]:
## Counting unique word in a text.

text1="In this tutorial we are discussing about sets."

words=text1.split()

unique_words=set(words)

print(unique_words, len(unique_words))

{'In', 'sets.', 'discussing', 'we', 'tutorial', 'this', 'about', 'are'} 8